@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

:root {

    --font-family: "Poppins", sans-serif;

    --base-color: #FFFFFF;
    --primary-color: #F06500;
    --bg-color: #0C0B0B;
    --sec-color: #1D1A1A;
    --ter-colo: #FEA300;
    --full-circe: #151313;
    --hover-circle: #0C0B0B;
    --borer-color: #2C2B2B;
    --green-colo: #00E396;
    --orange-color: #F06500;
    --purpal-color: #8B35E2;
    --sky-blue: #00B2FF;
    --yellow-color: #FFA800;
    --red-color: #FF4560;
    --nav-color: #000000BF;

    --font-w-3: 300;
    --font-w-4: 400;
    --font-w-5: 500;
    --font-w-6: 600;
    --font-w-7: 700;
    --font-w-8: 800;

    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;
    --size-28: 28px;
    --size-36: 36px;
    --size-96: 96px;
    --size-22: 22px;
    --size-48: 48px;
    --size-36: 36px;
    --size-70: 70px;
    --size-80: 80px;
    --size-60: 60px;
    --size-50: 50px;

    --lh-33: 33px;
    --lh-42: 42px;
    --lh-54: 54px;
    --lh-32: 32px;
    --lh-25: 25px;
    --lh-61: 61px;
    --lh-95: 95px;
}


.nav-heading {
    font-family: var(--font-family);
    font-size: var(--size-36);
    font-weight: var(--font-w-4);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    cursor: pointer;
}

.nav-heading span {
    color: var(--primary-color);
    font-weight: var(--font-w-7);
}

.nav-linke {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    position: relative;
}

.nav-linke:hover {
    color: var(--primary-color);

}

.bg-color {
    background-color: var(--nav-color);
}

.nav-linke::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    width: 0;
    height: 2px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.nav-linke:hover::before {
    width: 100%;
}

.curser {
    cursor: pointer;
}

.connect {
    padding: 7px 23px;
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-6);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    border: none;
    border-radius: 23.5px;
    background: -webkit-gradient(linear, left top, right top, from(#FEA300), to(#F06500));
    background: -o-linear-gradient(left, #FEA300, #F06500);
    background: linear-gradient(to right, #FEA300, #F06500);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.connect:hover {
    background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFFFFF));
    background: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    color: var(--primary-color);
}

.bg-img {
    background-image: url(../img/png/section-1bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}








/* .bg-img::before {
    content: "";
    background-image: url(../img/png/section-1-layer.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
} */
.accum {
    font-family: var(--font-family);
    font-size: var(--size-96);
    font-weight: var(--font-w-7);
    line-height: var(--lh-95);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.pt-66 {
    padding-top: 66px;
}

.lorem {
    font-family: var(--font-family);
    font-size: var(--size-22);
    font-weight: var(--font-w-4);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}


.curse {
    font-family: var(--font-family);
    font-size: var(--size-48);
    font-weight: var(--font-w-6);
    line-height: var(--lh-61);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.doted {
    top: 50%;
    right: 0%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}


.txt {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    opacity: 0.7;
}

.txt-2 {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    opacity: 0.7;
}

.bg_change {
    background-color: var(--bg-color);
}

.brdr {
    border: 2px solid var(--borer-color);
    position: relative;
    border-radius: 10px;
    -webkit-transform: translate(0, -140px);
    -ms-transform: translate(0, -140px);
    transform: translate(0, -100px);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(10px);
}

.bg-blk {
    background-color: var(--sec-color);
}

.yellow-cirlce {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: var(--base-color);
    font-family: var(--font-family);
    font-size: var(--size-22);
    font-weight: var(--font-w-6);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: center;
    -webkit-columns: var(--bg-color);
    -moz-columns: var(--bg-color);
    columns: var(--bg-color);
}

.cras {
    font-family: var(--font-family);
    font-size: var(--size-22);
    font-weight: var(--font-w-6);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.font-18 {
    font-size: 18px;
}

.right-line {
    position: absolute;
    right: 0;
    top: -50%;
}

.left-line {
    position: absolute;
    left: 0;
    /* top: 30%; */
    bottom: 0;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mt-48 {
    margin-top: 48px;
}


.full-cicle {
    background-color: var(--full-circe);
    border-radius: 46px;
    padding: 10px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.full-cicle:hover {
    background-color: var(--hover-circle);

}

.full-cicle:hover .yellow-cirlce {
    background: -webkit-gradient(linear, left top, right top, from(#FFA800), to(#F06500));
    background: -o-linear-gradient(left, #FFA800 0%, #F06500 100%);
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: var(--base-color);
}





.pt-62 {
    padding-top: 62px;
}

.bg-blCK {
    background-color: var(--hover-circle);
}

.liq {
    font-family: var(--font-family);
    font-size: var(--size-22);
    font-weight: var(--font-w-4);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.when {
    font-family: var(--font-family);
    font-size: var(--size-14);
    font-weight: var(--font-w-4);
    line-height: var(--lh-25);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    opacity: 0.7;
}

.no {
    font-family: var(--font-family);
    font-size: var(--size-28);
    font-weight: 600;
    line-height: var(--lh-42);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.mt-22 {
    margin-top: 22px;
}

.borde {
    /* border: 2px solid var(--borer-color); */
    border-radius: 10px;
    position: relative;
    background: -o-linear-gradient(355.12deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.borde::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: -o-linear-gradient(354.79deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    -webkit-mask:
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.sem {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-6);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.gap-100 {
    gap: 100px;
}

.no:hover {
    color: var(--primary-color);
}

.green {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--green-colo);
}

.orange {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--orange-color);
}

.purpel {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--purpal-color);
}

.sky-blue {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--sky-blue);
}

.yellow {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--yellow-color);
}

.red {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--red-color);
}



.t-head {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-6);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: center;
    color: var(--base-color);
    padding-top: 14px;
    padding-bottom: 24px;
}

.nothing {
    opacity: 0;
}

.t-body {
    color: var(--base-color);
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.7;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 28px;
}

/* .t-body {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: center;
    color: var(--base-color);
} */


/* timeline */


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 20px;
    bottom: -18px;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containers {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containers::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA800), to(#F06500));
    background: -o-linear-gradient(top, #FFA800 0%, #F06500 100%);
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);

    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}


.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 2px 30px;
    background-color: transparent;
    position: relative;
    border-radius: 6px;
}

.content-2 {
    padding: 2px 30px;
    background-color: transparent;
    position: relative;
    border-radius: 6px;


}

/* @media (min-width:993.9px) {
    .time-para-2 {
        font-family: var(--font-family);
        font-size: var(--size-18);
        color: var(--base-color);
        font-weight: var(--font-w-4);
        line-height: var(--lh-32);
        letter-spacing: 0em;
        text-align: left;
        opacity: 0.7;
    }

    .time-para {
        font-family: var(--font-family);
        font-size: var(--size-18);
        color: var(--base-color);
        font-weight: var(--font-w-4);
        line-height: var(--lh-32);
        letter-spacing: 0em;
        text-align: right;
        opacity: 0.7;
    }
} */

.time-para-2 {
    font-family: var(--font-family);
    font-size: var(--size-18);
    color: var(--base-color);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    opacity: 0.7;
}

.time-para {
    font-family: var(--font-family);
    font-size: var(--size-18);
    color: var(--base-color);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    opacity: 0.7;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--base-color);

}



.phase {
    font-family: var(--font-family);
    font-size: var(--size-36);
    font-weight: var(--font-w-6);
    line-height: var(--lh-54);
    letter-spacing: 0em;
    color: var(--base-color);
    /* text-align: right; */
}

.mt-60 {
    margin-top: 60px;
}



.accord-head {
    font-family: var(--font-family);
    font-size: var(--size-22);
    font-weight: var(--font-w-6);
    line-height: var(--lh-33);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
}

.accord-para {
    font-family: var(--font-family);
    font-size: var(--size-18);
    font-weight: var(--font-w-4);
    line-height: var(--lh-32);
    letter-spacing: 0em;
    text-align: left;
    color: var(--base-color);
    opacity: 0.7;
    padding: 16px;

}

.full-part {
    border: 2px solid var(--borer-color);
    border-radius: 10px;
    margin-top: 8px;
    transition: all 200ms linear;
}

.top-part {
    cursor: pointer;
    padding: 16px;
}

.accord-para {
    display: none;
}

.bottom-line {
    bottom: 0%;
    right: 0%;
}



.right-light {
    bottom: -20px;
    right: 0%;
}

.w-200 {
    min-width: 200px;
}

.red-light {
    top: 0;
    right: 0;
}

.faq {
    font-family: var(--font-family);
    font-size: var(--size-48);
    font-weight: var(--font-w-6);
    line-height: var(--lh-61);
    letter-spacing: 0em;
    text-align: center;
    color: var(--base-color);
    text-align: center;
    margin-bottom: 32px;
}

.on-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    z-index: 2;
}

.on-top {
    display: none;
}

/* All media screen */

@media (min-width: 992px) {
    .pos_changes {
        position: absolute;
        right: 0;
        width: 50%;
    }

    .py-89 {
        padding-top: 89px;
        padding-bottom: 87px;
    }

    .pb-500 {
        padding-bottom: 500px;
    }

    .p-48 {
        padding: 48px;
    }

}

@media (min-width:1200px) {
    .mt-50 {
        margin-top: 50px;
    }
}

@media (max-width:992px) {
    .lg-view {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: var(--bg-color);
        /* backdrop-filter: blur(40px); */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
        z-index: 7;
    }

    label[for="menuIcon"] {
        width: 40px;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /* position: fixed; */
        z-index: 8;
        right: 10px;
        top: 10px;
    }

    label[for="menuIcon"] span {
        width: 100%;
        background-color: var(--base-color);
        height: 4px;
    }

    .show {
        left: 0%;
    }

    .pb-500 {
        padding-bottom: 300px;
    }

    .p-48 {
        padding-top: 48px;
        padding-left: 48px;
        padding-right: 48px;
    }


    .accum {
        font-size: var(--size-70);
    }

    .lorem {
        font-size: var(--size-18);
    }

    .txt-2 {
        display: none;
    }

    .mx-lg-mt-5 {
        margin-top: 30px;
    }
}

@media (max-width:576px) {
    .accum {
        font-size: var(--size-50);
    }

    .max-mt-50 {
        margin-top: 50px;
    }

    .cras {
        font-size: var(--size-18);
    }

    .font-16 {
        font-size: var(--size-14);
    }

    .accord-head {
        font-size: var(--size-18);
    }

    .accord-para {
        font-size: var(--size-18);
    }

    .max-mt-30 {
        margin-top: 30px !important;
    }
}


@media (max-width:1400px) and (min-width:576px) {
    .accum {
        font-size: var(--size-70);
    }


}

@media (max-width:1200px) and (min-width:992px) {
    .lorem {
        font-size: var(--size-18);
    }
}

@media screen and (max-width: 992px) {


    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .containers {
        width: 100%;
        padding-left: 35px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containers::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (min-width: 993px) {
    .ph_l {
        text-align: right;
    }

    .ph_r {
        text-align: left;
    }

    .text_r {
        text-align: left;
    }

    .text_l {
        text-align: right;
    }

}